.quote {
    margin-top: 100px;
    padding: 110px 0;
    transform: $header_skew;
    background: rgba(240, 240, 240, 0.66);
    .container {
        @extend %header_unskew;
    }
    @include max(450) { padding: 110px 0 60px; }
}

.quote__text {
    max-width: 670px;
    margin: 0 auto;
    font-family: 'FuturaBold', 'Futura', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: $text-color;
    text-align: center;
    position: relative;
    @include lg(font-size, 24px);
    @include lg(max-width, 650px);
    @include max(780) { max-width: 550px; font-size: 22px; }
    @include max(600) { max-width: 85% }
    @include sm(max-width, 92%);
    @include xs(font-size, 20px);
    &::before {
        content: '';
        position: absolute;
        bottom: -55px;
        left: -120px;
        width: 103px;
        height: 91px;
        background: url(../../../../img/svg/quote_left.svg) center center/contain no-repeat;
        @include max(992) {
            width: 80px;
            height: 70px;
            left: -60px;
        }
        @include max(780) {
            width: 70px;
            height: 50px;
            left: -30px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: -40px;
        right: -120px;
        width: 103px;
        height: 91px;
        background: url(../../../../img/svg/quote_right.svg) center center/contain no-repeat;
        @include max(992) {
            width: 80px;
            height: 70px;
            right: -60px;
        }
        @include max(780) {
            width: 70px;
            height: 50px;
            right: -30px;
            top: -56px;
        }
    }
}

.quote__author {
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
    font-style: oblique;
    @include max(450) {
        font-size: 16px;
        margin-top: 80px;
    }
}

.author__name {
    font-weight: bold;
}