.examples {
    margin-top: 80px;
}

.examples__item {
    padding: 50px 0;
    margin: 40px 0;   
    &:nth-child(even) {
        background-color: #f6f9fb;
        .example__content {
            margin-left: 0;    
            margin-right: 80px;
        }
        .example__container {
            flex-direction: row-reverse;
        }
        .try_it--example {
            background-color: #4cb5d2;
        }
        .example__introtext span:nth-child(1) { margin-left: 0; }
        .example__introtext span:nth-child(2) { margin-left: 15px; }
    }
}

.example__container {
    display: flex;
    align-items: center;
}

.example__content {
    @include col();
    @include size(6);
    margin-left: 80px;    
    margin-right: 0;
}

.example__image {
    @include col();
    @include size(5);
    img {
        width: 100%;
    }
}

.example__title {
    font-family: 'FuturaBold';
    font-size: 50px;
    font-weight: 700;
    color: $text-color;
    padding-left: 15px;
}

.example__introtext {
    margin-top: 5px;
    span {
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        font-size: 18px;
        display: block;
        &:nth-child(1) {
            margin-left: 15px;
        }
    }
}

.example__text {
    margin-top: 15px;
    span {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        display: block;
        &:nth-child(2) {
            margin-left: 15px;
        }
    }
}

.example__link {
    margin-top: 30px;
    text-align: center;
}

.try_it--example {
    background-color: #f05b6d;
    transition: .3s;
    border: none;
    padding: 10px 16px 10px 28px;    
    @include xl(padding, 12px 12px 12px 22px);
    &:active {
        opacity: .9;
    }
    .try_it__text {
        color: #fff;
        font-size: 16px;
    }
    .try_it__arrow-container {
        height: 16px;
        margin-left: 12px;
    }
    .try_it__arrow svg {
        height: 16px;
    }
}