$text_color: #1e0547;
$active_color: #1e0547;
$blue: #4cb5d2;
$blue_hover: #42a7c4;
$gray: #e1e1e1;
$footer_color: #32325d;
$link_color: #ec008c;
$header_skew: skew(0, 4.8deg);
$big_skew: skew(0, 8deg);
%header_unskew {
    transform: skew(0, -4.8deg) translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

%big_unskew {
    transform: skew(0, -8deg) translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

%noAnimationLine {
    &:after {
        content: none
    }
}

$persp: rotateX(2deg) rotateZ(-10deg) rotateY(42deg);
$font_path: '../../fonts/';

$socials: ( //class: image
    'ln': 'ln', 
    'yt': 'yt', 
    'tw': 'tw', 
    'fb': 'fb', 
    'inst': 'inst' 
);

$linesColors: ( 
    1: #5f49d2, 
    2: #4cb5d2, 
    3: #f87979, 
    4: #e9921b, 
    5: #f06edc, 
    6: #00aeef, 
    7: #f87979, 
    8: #836cfe, 
    9: #47b6d4, 
    10: #02a0fa, 
    11: #f68e56, 
    12: #f7941d,
    13: #836cfe, 
    14: #836cfe, 
    15: #47b6d4, 
    16: #f98b8b, 
    17: #f06edc, 
    18: #33b2fb
);

$earnLinesColors: (
    1: #5f49d2,
    2: #02c602,
    3: #fd5b56
);

%lines {
    width: 110px;
    height: 64px;
    width: 100px;
    height: 60px;
    position: absolute;
    top: -50px;
    left: 50%;
}