$text_color: #1e0547;
$active_color: #1e0547;
$blue: #4cb5d2;
$gray: #e1e1e1;

$persp: rotateX(2deg) rotateZ(-10deg) rotateY(42deg);

$font_path: '../../fonts/';

$socials: (
    'ln': 'ln',
    'yt': 'yt',
    'tw': 'tw',
    'fb': 'fb',
    'inst': 'inst',
);