.geo_reasons {
  margin-top: 50px;

  .programm__list {
    margin-top: 30px;
    li {
      margin-left: 0;
    }
  }
}

.geo_reasons__wrapper {
  display: flex;
  justify-content: center;
  @include lg(justify-content, flex-start);
  @include md-block {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.geo_reasons__man {
  height: 650px;
  width: 440px;
  background: url(../img/geo/man.png) center/contain no-repeat;
  flex-shrink: 0;

  @include xl-block {
    height: 540px;
    width: 360px;
  }
  @include lg(transform, translateX(-60px));
  @include md(transform, translateX(0));
  @include sm-block {
    height: 430px;
    width: 280px;
  }
}

.geo_reasons__content {
  max-width: 660px;
  margin-top: 140px;
  padding: 0 15px;

  @include xl-block {
    margin-top: 100px;
  }
  @include lg(margin-left, -120px);
  @include md-block {
    margin-left: 0;
    margin-top: 30px;
  }
}

.geo_reasons__title {
  text-align: center;
  span {
    display: block;
    word-spacing: -6px;

    &:first-child {
      transform: scale(.95);
    }

    @include xs(display, inline);
  }
}

.geo_reasons__button {
  margin-top: 50px;
  text-align: center;
  
  .try_it {
    background: #4cb5d2;
  }
}