.about--google {
    margin-top: 200px;
    .about__title, .about__introtext, .about__content {
        text-align: center;
    }
    .about__introtext {
        font-size: 24px;
        font-family: 'FuturaBold';
    }
    .about__content {
        padding-top: 0;
        width: 100%;
        margin: 1.5rem 0 0 0;
    }

    iframe {
        @include lg(height, 500px);
        @include md(height, 400px);
        @include sm(height, 300px);
        @include max(500) { height: 250px; }
        @include xs(height, 200px);
    }
}