.docs {
    margin-top: 80px;
    position: relative;
}

.docs__wrapper {
    margin: auto;
    max-width: 1020px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.docs__title {
    padding-left: 10px;
    span {
        display: block;
        font-family: 'FuturaBold';
        word-spacing: -6px;
        &:nth-child(1) {
            margin-left: 40px;
        }
        @include max(500) {
            margin-left: 0 !important;
            display: inline;
        }
    }
    @include max(500) { padding-left: 0; }
}

.docs__introtext {
    margin-top: 10px;
    span {
        font-family: 'FuturaBold';
        font-size: 26px;
        font-weight: 700;
        line-height: 1.1;
        display: block;
        @include xl(font-size, 24px);
        @include lg(font-size, 22px);
        @include md(font-size, 20px);
        @include xs(font-size, 18px);
        @include max(500) {
            margin-left: 0 !important;
            display: inline;
        }
        
        &:nth-child(1) {
            margin-left: 30px;            
        }
        &:nth-child(2) {
            margin-left: 50px;            
        }
    }
}

.docs__container {
    @include row-flex();
}

.docs__sidebar {
    @include col();
    @include size(3);
    position: relative;
    @include max(800) {
        @include size(12);
        order: 2;
        margin-top: 80px;
    }
}

.docs__content {
    position: static;
    z-index: -1;
    @include col();
    @include size(9);
    padding: 0 0 0 70px;    
    @include max(800) {
        @include size(12);
        order: 1;
    }
    @include md(padding, 0 15px);
    @include xs(padding, 0 7px);
}

.docs__bubble_sm {
    width: 80px;
    height: 80px;
    position: absolute;    
    top: 60%;
    left: 330px;
    z-index: -1;
    display: block;
    background: url(../../../../img/svg/docs_bubble_sm.svg) center/contain no-repeat;
    @include max(800) { display: none; }
}

.docs__bubble_lg {
    width: 400px;
    height: 400px;
    position: absolute;    
    top: 60%;
    left: 70px;
    display: block;
    z-index: -1;
    background: url(../../../../img/svg/docs_bubble_lg.svg) center/contain no-repeat;    
    @include max(800) { display: none; }
}

.visitors__bubble1--docs {
    z-index: -1;
    top: 25% !important;
    right: 170px !important;
    @include max(1400) { right: 120px !important; }
    @include max(1150) { right: 90px !important; }
    @include max(900) { right: 100px !important; }
    @include md(right, 70px !important);
    @include xs(right, 25px !important);
    @include max(350) { right: 35px !important }
}

.visitors__bubble2--docs {
    z-index: -1;
    top: 25% !important;
    right: -5% !important;
}

.docs__texts {
    margin-top: 40px
}

.widget {
    margin: 80px 0;
    &:first-child {
        margin: 0;
    }
}

.widget__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 15px;
}

.widget__list {
    list-style: none;
    margin-top: 30px;
}

.widget__list_item {
    margin: 30px 0;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(137, 117, 248, 0.3);
    }
    &:last-child:before {
        content: none;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: calc(50% - 7px);
        width: 6px;
        height: 14px;
        display: block;
        transition: .2s;
        background: url(../../../../img/svg/list-arrow.svg) center/contain no-repeat;
    }
    &.active {
        color: #fd5b56;
        &:after {
            right: -10px;
            background: url(../../../../img/svg/list-arrow-active.svg) center/contain no-repeat;
        }
        a {
            color: #fd5b56
        }
    }
    &:hover {
        &:after {
            right: -10px;
        }
    }
    a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $text_color;
        text-decoration: none;
        @extend %noAnimationLine;
        &:hover {
            text-decoration: none;
        }
    }
}

.helpful-block {
    margin-top: 70px;
    text-align: center;    
    li {
        display: inline-block;
        margin-right: 35px;
        margin-bottom: 15px;
        @include max(500) { margin-right: 0; }
        &:first-child {
            font-family: 'FuturaBold';
            font-size: 26px;
            color: $text_color;
        }
    }
}

.helpful-block__button {
    border-radius: 24px;    
    color: #fff;
    font-family: 'FuturaBold';
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-right: 15px;
    text-transform: uppercase;
    padding: 9px 20px;
    transition: .2s;
    @extend %noAnimationLine;
}

.helpful-block__button--yes {
    background-color: #4cb5d2;
    &:hover {
        background-color: #3b9ab4;
    }
}

.helpful-block__button--no {
    background-color: #f06eaa;
    &:hover {
        background-color: #c75188;
    }
}