.header {
    min-height: 684px;
    position: relative;    
    background-image: linear-gradient(to top, rgba(235, 235, 235, 0.39)0%, #fff 100%);
    transform: $header_skew;
    //linear-gradient(to top, rgba(235, 235, 235, .39) 0%, #fff 100%);
}

.header__container {
    @extend %header_unskew;
    display: flex;
    height: 450px;
    padding-right: calc(24% + 6px);
}

.header__content {
    margin: auto;
    max-width: 650px;
    position: relative;    
    &:before {
        content: '';
        position: absolute;
        background: transparent;
        z-index: 10;
        top: -100%;
        width: 50%;
        height: 300px;
        background-image: linear-gradient(to top, #fcfcfc 0%, #fefefe 100%);
        left: 0;
        box-shadow: -40px 0 40px #fcfcfc;
    }
    &:after {
        content: '';
        position: absolute;
        background: transparent;        
        z-index: 10;
        top: -100%;
        width: 90%;
        height: 300px;
        background-image: linear-gradient(to top, #fcfcfc 0%, #fefefe 100%);
        left: 0;
        box-shadow: 40px 0 40px 10px #fcfcfc;
    }
}

.header__object {
    position: absolute;
    right: -30px;
    top: -35px;
    z-index: 9;
    z-index: -1;
    max-width: 60%;
    @extend %header_unskew;
}

.header__title {    
    position: relative;
    z-index: 11;
}

.header__description {
    color: $text_color;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 400;
    margin: 18px 0;    
}

.header__offer {
    margin-top: 50px;
}

.try_it--button {    
    border-color: $blue;
    transition: .3s;
    border: none;
    background-color: $blue;
    padding: 15px 25px 15px 70px;
    &:active {
        background: $blue_hover;
    }
    .try_it__text {
        color: #fff;
        font-size: 24px;
    }
    .try_it__arrow-container {
        height: 24px;
        margin-left: 30px;
    }    
}

.header__right_bg {
    background: url(../../../img/bg_header_right.png) no-repeat;
    background-size: contain;
    display: block;
    width: 850px;
    height: 720px;
    position: absolute;
    z-index: 11;
    top: calc(30% + 2px);
    right: 0;
    transform: skew(0, -4deg);
}

.header__left-cloud {
    width: 248px;
    height: 69px;
    background: url(../../../img/cloud_left.png) no-repeat;
    position: absolute;
    top: 25%;
    z-index: -1;
    //left: -30px;
    left: 25%;
    @extend %header_unskew;
    &.active {
        animation: leftCloud 20s infinite;
    }
}

#right_upper_cloud {
    opacity: 0;
    &.active {
        animation: rightUpperCloud 25s infinite;
    }
}

#right_cloud {
    opacity: 0;
    &.active {
        animation: rightCloud 25s infinite;
    }
}

@keyframes rightUpperCloud {
    0% {
        opacity: 0;
        transform: translate(0);
        -ms-transform: translate(0);
    }
    10% {        
        opacity: .3;
    }
    100% {
        transform: translate(-60%);  
        -ms-transform: translate(-60%);
        opacity: 0;
    }    
}

@keyframes rightCloud {
    0% {
        opacity: 0;
        transform: translate(0);
        -ms-transform: translate(0);
    }
    10% {        
        opacity: .39;
    }
    100% {
        transform: translate(-60%);
        -ms-transform: translate(-60%);
        opacity: 0;
    }  
}

@keyframes leftCloud {
    0% {
        left: 25%;
        opacity: 0;
    }
    50% {
        opacity: .8;
    }
    70% {
        opacity: 0;
    }
    100% {
        //left: -30px;
        left: -250px;        
    }    

}