.header {
    min-height: 684px;
    position: relative;    
    background-image: linear-gradient(to top, rgba(235, 235, 235, 0.39)0%, #fff 100%);
    transform: $header_skew;    
    @include min(1900) {
        min-height: 670px;
    }    
    @include min(2200) {
        min-height: 631px;
    }    
    @include max(1500) {    
        min-height: 669px;
    }    
    @include max(1300) {    
        min-height: 600px;
    }
    @include max(800) {
        min-height: 750px;
    }
}

.header__object {
    position: absolute;
    right: -30px;
    top: -35px;
    z-index: 9;
    z-index: -1;
    
    @extend %header_unskew;    
    @include min(1900) {    
        top: -50px;
    }
    @include min(2200) {
        top: -90px;
    }    
    @include max(1500) {        
        top: -20px;
    }    
    @include max(1300) {
        width: 830px;
        top: -90px;
    }
    @include max(1200) {
        width: 750px;
        top: -87px;
    }
    @include max(1000) {
        width: 680px;
        top: -85px;
    }
    @include max(700) {
        top: 15px;
    }
    @include max(430) {
        width: 600px;
    }
}


.header__right_bg {
    background: url(../../../img/bg_header_right2.png) no-repeat;
    background-size: contain;
    display: block;
    width: 850px;
    height: 720px;
    position: absolute;
    z-index: 10;
    bottom: -145px;
    right: 0;
    transform: skew(0, -4deg); 
    @include max(1700) { width: 750px; height: 650px; }
    @include max(1500) { width: 650px; height: 580px; }
    @include max(1300) { width: 550px; height: 510px; }
    @include max(1100) { width: 490px; height: 474px; }
    @include max(950) { width: 450px; height: 450px; }
    @include max(450) { width: 90%; height: 55%; margin: auto; left: 0; }
    @include max(420) { height: 53%; }
    @include max(390) { height: 50%; }
    @include max(360) { height: 48%; }
}

.header__left-cloud {
    width: 248px;
    height: 69px;
    background: url(../../../img/cloud_left2.png) no-repeat;
    position: absolute;
    top: 21%;
    opacity: 0;
    z-index: -1;
    //left: -30px;
    left: 25%;
    @extend %header_unskew;
    &.active {
        animation: leftCloud 45s infinite;
    }
    @include max(1300) {
        width: 158px;
        height: 59px;
        background-size: contain;
    }
    @include max(1000) {
        width: 138px;
        height: 49px;        
    }
}

#right_upper_cloud {
    opacity: 0;
    &.active {
        animation: rightUpperCloud 50s infinite;
    }
}

#right_cloud {
    opacity: 0;
    &.active {
        animation: rightCloud 50s infinite;
    }
}

.header__container {
    @extend %header_unskew;
    display: flex;
    height: 450px;
    padding-right: calc(31% + 2px);
    @include max(1400) { padding-right: 28%; }
    @include max(1200) { padding-right: 23%; }
    @include max(1100) { padding-right: 32%; }
    @include max(800) { padding-right: 0; }
    @include max(840) { padding-bottom: 10%; } 
    @include max(600) { padding-bottom: 0; }
}

.header__content {
    margin: auto;
    max-width: 500px;
    position: relative;
    @include max(1200) { max-width: 450px; } 
    @include max(800) {
        max-width: 60%;
    }
    @include max(660) {
        max-width: 70%;
    }
    @include sm(margin-top, 50px);
    @include max(440) { margin-top: 30px }
    @include max(400) { max-width: 80%; }
    @include max(340) { max-width: 85%; }
}

.header__title {    
    position: relative;
    z-index: 11;
    word-spacing: -10px;
}

.header__description {
    color: $text_color;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 18px 0;
    @include max(1300) {
        font-size: 24px;
        margin: 12px 0;
    }
    @include max(1200) {
        font-size: 22px;
    }
    @include max(600) {
        font-size: 18px;
    }
    @include max(500) {
        font-size: 17px;
    }
    @include max(430) {
        font-size: 16px;
    }
}

.header__offer {
    margin-top: 50px;
    @include max(1300) {
        margin-top: 40px;
    }
    @include max(600) {
        margin-top: 35px;
    }
}

.try_it--button {    
    border-color: $blue;
    transition: .3s;
    border: none;
    background-color: $blue;
    padding: 15px 25px 15px 70px;
    @include max(500) {
        padding: 12px 25px 12px 70px;
    }
    &:active {
        background: $blue_hover;
    }
    .try_it__text {
        color: #fff;
        font-size: 24px;        
        @include max(1200) {
            font-size: 22px;
        }
        @include max(500) {
            font-size: 20px;
        }
    }
    .try_it__arrow-container {
        height: 24px;
        margin-left: 30px;
        @include max(500) {
            height: 20px;
        }
    }
    .try_it__arrow svg{
        @include max(500) {
            height: 20px;
        }
    }
}

@keyframes rightUpperCloud {
    0% {
        opacity: 0;
        transform: translate(0);
        -ms-transform: translate(0);
    }
    10% {        
        opacity: .6;
    }
    100% {
        transform: translate(-60%);  
        -ms-transform: translate(-60%);
        opacity: 0;
    }    
}

@keyframes rightCloud {
    0% {
        opacity: 0;
        transform: translate(0);
        -ms-transform: translate(0);
    }
    10% {        
        opacity: .9;
    }
    100% {
        transform: translate(-60%);
        -ms-transform: translate(-60%);
        opacity: 0;
    }  
}

@keyframes leftCloud {
    0% {
        left: 25%;
        opacity: 0;
    }
    50% {
        opacity: .8;
    }
    70% {
        opacity: 0;
    }
    100% {
        //left: -30px;
        left: -250px;
        opacity: 0;
    }
}