.simple_ads {
    margin-top: 150px;
    text-align: center;
    .title {
        line-height: 1.2;
    }
    img {
        max-width: 100%;
        display: block;
        margin: 5rem auto;
    }
}

.simple_ads__content {
    @include row-flex();
    justify-content: center;
    margin-top: 4.5rem;
}

.simple_ads__step {
    @include col();
    @include size(4);    
    @include size-lg(12);    
    margin-bottom: 2.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.step__title {
    font-family: 'FuturaBold';
    font-size: 26px;
    text-align: left;
    word-spacing: -4px;
    @include lg(text-align, center);
}

.step__description {
    font-size: 1.25rem;
    text-align: left;
    @include lg(text-align, center);
}