.program {
    margin-top: 150px;
    @include xl(margin-top, 80px);
}

.program__wrapper {
    @include row-flex();
    max-width: 1500px;
    margin: auto;
    justify-content: center;
    &.aos-animate {
        .bubble100--lg {
            animation: movingUp 10s linear 1s, explode .1s linear 11s;
        }
    }
}

.bubble100 {
    position: absolute;
    background: url(../../../../img/aff/bubble.svg) center/contain no-repeat;
    display: flex;
    &__text {
        font-family: 'Open Sans', sans-serif;
        color: #02c66c;
        font-weight: 800;
        margin: auto;
        padding-left: 18px;
        padding-bottom: 20px;
        span {
            font-family: 'Open Sans', sans-serif;
            color: #02c66c;
            font-weight: 400;
            font-size: .75em;
            margin-left: -5px;
        }
    }
    &--lg &__text {
        font-size: 2.5em;
        @include max(500) { font-size: 2.2em; }
        @include max(440) { font-size: 1.9em; }
        @include xs(font-size, 1.7em);
    }
    &--sm &__text {
        font-size: 2em;
        @include max(500) { font-size: 1.7em; padding-left: 11px; }
        @include max(440) { font-size: 1.4em; padding-bottom: 13px; }
        @include xs(font-size, 1.2em);
    }
}

.disableAnimation {
    animation: none !important
}

.bubble100--lg {
    right: -60px;
    top: -62px;
    width: 185px;
    height: 187px;
    opacity: 0;
    &.activeLgAnimation {
        animation: movingUp 10s linear 1s, explode .1s linear 11s;
    }
    @include max(500) { width: 155px; height: 157px; }
    @include max(440) { width: 140px; height: 142px; top: -44px; }
    @include max(400) { width: 120px; height: 122px; top: -40px; }
}

.bubble100--sm {
    top: -62px;
    right: 46%;
    width: 140px;
    height: 142px;
    opacity: 0;
    &.activeSmAnimation {
        animation: movingUp 8s linear 1s, explode .1s linear 9s;        
    }
    @include max(500) { width: 120px; height: 122px; }
    @include max(440) { width: 100px; height: 102px; top: -44px; }
    @include max(400) { width: 90px; height: 92px; top: -40px; }
}

@keyframes movingUp {
    0% {
        opacity: 0;
        transform: translateY(140%);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }    
}

@keyframes explode {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

.program__content {
    @include col();
    @include size(6);
    padding-top: 150px;

    @include max(1400) { @include size(5) }
    @include size-xl(6);
    @include xl(padding-top, 0);
    @include max(1000) { @include size(7); }
    @include max(900) { @include size(8); }
    @include size-md(10);
    @include size-sm(12);
}

.program__title {
    span {
        display: block;
        font-family: 'FuturaBold';
        word-spacing: -6px;   
        &:nth-child(2) {
            margin-left: 85px;
            @include sm(margin-left, -60px);
            @include xs(margin-left, 0)
        }

        @include max(1400) { font-size: 52px; }
        @include max(1300) { font-size: 50px; }
        @include sm(text-align, center);
        @include xs(text-align, left);
        @include max(370) { font-size: 32px; }
    }
}

.programm__list {
    margin-top: 50px;
    list-style: none;
    li {
        position: relative;
        margin: 18px 0;
        line-height: 1.3;
        &:before {
            content: '';
            position: absolute;
            top: calc(50% - 10px);
            left: -40px;
            height: 21px;
            width: 27px;
            background: url(../../../../img/aff/checkmark.svg) center/contain no-repeat;
        }
        &:nth-child(even) {
            margin-left: -20px;
            @include sm(margin-left, 0)
        }
    }
}

.program__button {
    margin-top: 50px;
    text-align: center;
}

.program__view {
    background: url(../../../../img/aff/program_aff_bg.svg) center/contain no-repeat;
    background-position: 0 0;
    &:before {
        content: '' !important;
        position: absolute;
        background: url(../../../../img/aff/arrow-program.svg) center/contain no-repeat;
        width: 280px !important;
        height: 170px !important;
        top: -50px !important;
        left: 100px !important;
        @include max(500) { width: 200px !important; height: 150px !important; }
        @include max(400) { left: 50px !important; }
    }
    &:after {
        content: none;
    }
    @include max(1200) { min-height: 665px; margin-top: 100px; margin-left: 0 !important; }
    @include max(450) { min-height: 525px; }
    @include xs(min-height, 435px);
    @include max(370) { min-height: 400px }
    @include max(340) { min-height: 350px }
}

.man_on_wheel_wrapper {
    position: absolute;
    bottom: -20px;
    left: 40px;
    @include max(780) { bottom: 40px; left: 60px; }
    @include sm(left, 30px);
    @include max(500) { bottom: 70px; left: 20px; }
    @include max(450) { bottom: 25px; }
    @include max(400) { bottom: -15px; }
    @include max(370) { bottom: -25px; left: 10px }
}

.man_on_wheel {
    background: url(../../../../img/aff/man_on_wheel.png) center/contain no-repeat;
    width: 400px;
    height: 300px;    
    position: relative;
    @include max(780) { width: 330px; height: 250px; }
    @include max(450) { width: 220px; height: 170px; }
    @include max(340) { width: 170px; height: 130px; }
    &:after {
        content: '';
        position: absolute;
        top: 60px;
        right: -30px;
        background: url(../../../../img/aff/man_on_wheel_arrow.png) center/contain no-repeat;
        width: 120px;
        height: 50px;
        @include max(530) { top: 50px; right: 0px; width: 80px; height: 40px; }
        @include max(450) { top: 35px; width: 60px; height: 20px; }
        @include max(340) { top: 25px; width: 30px; right: 5px; }
    }

    &__text {
        position: absolute;
        top: 120px;
        right: -130px;
        text-align: center;
        max-width: 150px;
        font-size: 1.25em;
        font-family: 'MV Boli';
        @include max(530) { top: 90px; right: -80px; max-width: 140px; }
        @include max(450) { max-width: 120px; font-size: 1.15em; top: 58px; }
        @include max(340) { max-width: 100px; font-size: 1em; top: 45px; }
    }
}

.view__perspective--program {
    background: #fff url(../../../../img/aff/affiliate.png) center/contain no-repeat;
    box-shadow: 1px 34px 80px #ccc, inset 1px 2px 9px #ccc;
    margin-left: 90px;
    margin-top: 16px;

    @include max(1400) { min-height: 380px; max-width: 565px; margin-top: 35px; }
    @include max(1300) { min-height: 350px; margin-top: 45px; }
    @include max(1250) { min-height: 330px; margin-top: 65px; }
    @include max(1200) { min-height: 400px; margin-top: 55px; max-width: 600px; }
    @include max(900) { min-height: 370px; margin-top: 75px; }
    @include max(840) { min-height: 420px; margin-top: 35px; }
    @include max(780) { min-height: 340px; margin-top: 75px; }
    @include max(768) { min-height: 410px; max-width: 580px; margin-top: 45px; }
    @include max(680) { min-height: 380px; }
    @include max(576) { min-height: 410px; margin-top: 0; margin-left: 15px; }
    @include max(530) { min-height: 360px; margin-top: 42px; margin-left: 15px; }
    @include max(440) { max-width: 110%; width: 110%; }
    @include max(400) { min-height: 275px; margin-left: 0 }
    @include max(370) { min-height: 250px !important; }
    @include max(340) { min-height: 230px !important; }
}