.program {
    margin-top: 150px;
}

.program__wrapper {
    @include row-flex();
    max-width: 1500px;
    margin: auto;

    &.aos-animate {        
        .bubble100--lg {
            animation: movingUpLg linear 10s 1s forwards;
        }
        /* .bubble100--sm {
            animation: movingUpSm linear 4s 5.3s forwards;            
        } */
    }
}

.bubble100 {
    position: absolute;
    background: url(../../../../img/aff/bubble.svg) center/contain no-repeat;
    display: flex;
    &__text {
        font-family: 'Open Sans', sans-serif;
        color: #02c66c;
        font-weight: 800;
        margin: auto;
        padding-left: 18px;
        padding-bottom: 20px;
        span {
            font-family: 'Open Sans', sans-serif;
            color: #02c66c;
            font-weight: 400;
            font-size: .75em;
            margin-left: -5px;
        }
    }
    &--lg &__text {
        font-size: 2.5em;
    }
    &--sm &__text {
        font-size: 2em;
    }
}

.disableAnimation {
    animation: none !important
}

.bubble100--lg {
    right: -60px;
    top: -62px;
    width: 185px;
    height: 187px;
    transform: translateY(140%);
    opacity: 0;
    &.activeLgAnimation {
        animation: movingUpLg linear 10s forwards;
    }
}

.bubble100--sm {
    top: -62px;
    right: 46%;
    width: 140px;
    height: 142px;
    transform: translateY(205%);
    opacity: 0;
    &.activeSmAnimation {
        animation: movingUpSm linear 10s forwards;
    }
}

@keyframes movingUpLg {
    0% {
        opacity: 0;
        transform: translateY(140%);
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
    }
}

@keyframes movingUpSm {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
    }
    
}

.program__content {
    @include col();
    @include size(6);
    padding-top: 150px;
}

.program__title {
    span {
        display: block;
        font-family: 'FuturaBold';
        word-spacing: -6px;   
        &:nth-child(2) {
            margin-left: 85px;
        }
    }
}

.programm__list {
    margin-top: 50px;
    list-style: none;
    li {
        position: relative;
        margin: 18px 0;
        line-height: 1;
        &:before {
            content: '';
            position: absolute;
            top: calc(50% - 10px);
            left: -40px;
            height: 21px;
            width: 27px;
            background: url(../../../../img/aff/checkmark.svg) center/contain no-repeat;
        }
        &:nth-child(even) {
            margin-left: -20px;
        }
    }
}

.program__button {
    margin-top: 50px;
    text-align: center;
}

.program__view {
    background: url(../../../../img/aff/program_aff_bg.svg) center/contain no-repeat;
    background-position: 0 0;
    &:before {
        content: '';
        position: absolute;
        background: url(../../../../img/aff/arrow-program.svg) center/contain no-repeat;
        width: 280px;
        height: 170px;
        top: -50px;
        left: 100px;
    }
    &:after {
        content: none;
    }
}

.man_on_wheel_wrapper {
    position: absolute;
    bottom: -20px;
    left: 40px;
}

.man_on_wheel {
    background: url(../../../../img/aff/man_on_wheel.png) center/contain no-repeat;
    width: 400px;
    height: 300px;    
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 60px;
        right: -30px;
        background: url(../../../../img/aff/man_on_wheel_arrow.png) center/contain no-repeat;
        width: 120px;
        height: 50px;
    }

    &__text {
        position: absolute;
        top: 120px;
        right: -130px;
        text-align: center;
        max-width: 150px;
        font-size: 1.25em;
        font-family: 'MV Boli';
    }
}

.view__perspective--program {
    background: #fff url(../../../../img/aff/affiliate.png) center/contain no-repeat;
    box-shadow: 1px 34px 80px #ccc, inset 1px 2px 9px #ccc;
    margin-left: 90px;
    margin-top: 16px;
}