.header--examples {
    background: #6665e7;
    transform: skew(0, 2.8deg);
    min-height: 350px !important;
    margin-top: -104px;
    padding-top: 104px;
    @include xl(min-height, 300px !important);
    @include max(1100) {
        margin-top: -98px;
        padding-top: 98px;
    }
}

.header__container--examples {
    height: 240px;
    transform: skew(0, -2.8deg) translateZ(0);
    @include xl(height, 200px);
    @include max(880) {
        padding-right: 0;
        padding-bottom: 10%;
        height: 290px;
    }
    @include max(730) {
        padding-bottom: 110px !important;        
    }
    @include max(370) { height: 270px; }
}

.header__content--examples {
    @include max(730) { max-width: 100% !important; margin-top: auto !important; }
    @include max(450) { text-align: center; }
}

.header__title--examples {
    span {
        display: block;
        color: #fff;
        text-align: left;
        &:nth-child(2) {
            margin-left: 20px;
        }
    }
}

.header__introtext {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 700;
    padding-left: 10px;
    text-align: left;
    @include lg(font-size, 18px);
    @include md(font-size, 16px);
}

.header--examples_bg {
    width: 651px;
    height: 280px;
    background: url(../img/examples_header_bg.png) center/contain no-repeat;
    transform: rotate(-2.4deg);
    position: absolute;
    right: 40px;
    bottom: -23px;
    @include max(1450) { right: 0; }
    @include max(1400) { width: 530px; height: 239px; }
    @include max(1200) { width: 450px; height: 210px; }
    @include max(1030) { width: 400px; height: 192px; }
    @include max(940) { width: 360px; height: 177px; }
    @include max(370) { width: 320px; height: 162px; }
}