.docs_ready {
    background: linear-gradient(-260deg, #8e61d8 0%, #7461d8 100%);
    margin-top: 200px;
    padding: 80px 0 100px;
    position: relative;
    z-index: 100;
    transform: skew(0, 4.28deg);
    margin-bottom: -134px;
    box-shadow: inset 0 -34px 70px rgba(255, 255, 255, 0.24);
    @include xl(margin-bottom, -114px);
    @include max(1000) { margin-bottom: -100px; }
}

.docs_ready__wrapper {
    position: relative;
    text-align: center;
    transform: skew(0, -4.28deg) translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.try_it--pink {
    background: #f06eaa;
}

.ready_get__introtext--docs,
.ready_get__button--docs,
.ready_get__title--docs span {
    color: #fff
}

.docs_ready__bubble_sm {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 30%;
    display: block;
    background: url(../../../../img/svg/docs_ready_bubble_sm.svg) center/contain no-repeat;
    @include max(1550) { left: 23%; }
    @include max(1200) {
        width: 60px;
        height: 60px;
        top: -20px;
    }
    @include max(900) { left: 15% }
    @include max(768) {
        width: 40px;
        height: 40px;
        top: -40px;
        left: 12%;
    }
    @include max(500) {
        width: 35px;
        opacity: .9;
        top: 80px;
        left: 80px;
    }
    @include xs(top, 50px);
}

.docs_ready__bubble_lg {
    width: 220px;
    height: 210px;
    position: absolute;
    top: -180px;
    left: 20%;
    display: block;
    background: url(../../../../img/svg/docs_ready_bubble_lg.svg) center/contain no-repeat;
    @include max(1550) { left: 12%; }
    @include max(1200) { width: 170px; height: 160px; }
    @include max(900) { left: 2% }
    @include max(768) { width: 120px; height: 160px; }
    @include max(500) {
        top: -50px;
        z-index: -1;
        opacity: .9;
        width: 100px;
    }
    @include xs(top, -80px);
}