.ex_google {
    margin-top: 280px;
    text-align: center;
    img {
        max-width: 100%;
        display: block;
        margin: 4.5rem auto;
    }
    @include max(450) {
        margin-top: 150px;
    }
}

.ex_google__introtext {
    margin-top: 2rem;
    font-size: 1.25rem;
}