.ready_get {
    margin-top: 100px;
}

.ready_get__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 14%;
    position: relative;
}

.ready_get__illustration {
    width: 660px;
    height: 650px;
    margin-left: 100px;
    background: url(../../../img/ready_get.png) center/contain no-repeat;
}

.ready_get__title {
    span {
        font-family: 'FuturaBold';
        word-spacing: -5px;
        display: block;
        &:nth-child(2) {
            margin-left: 210px;
        }
    }
}

.ready_get__introtext {
    font-family: 'FuturaBold';
    font-size: 26px;
    padding-left: 85px;
}

.ready_get__button {
    margin-top: 50px;
    text-align: center;
}

.ready_get__bubble1 {
    width: 265px;
    height: 250px;
    background: url(../../../img/ready_get_bubble1.png) center/contain no-repeat;
    position: absolute;
    top: 20%;
    left: 50px;
}

.ready_get__bubble2 {
    width: 80px;
    height: 80px;
    background: url(../../../img/ready_get_bubble2.png) center/contain no-repeat;
    position: absolute;
    top: 56%;
    left: 250px;
}