.modal {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    &.showed {
        opacity: 1;
        z-index: 1000;
        .m-form__title span {            
            padding-top: 0;
        }
    }
    .try_it--plan {
        background: #f05b6d;
    }
}

.modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.95);
}

.modal__explanation {
    width: 70%;
    height: 100vh;
    display: flex;
}

.m-explain__content {
    margin: auto;
    max-width: 70%;
    padding-bottom: 10%;
}

.m-explain__list {
    padding: 0;
    list-style: none;
    margin-top: 15px;
}

.m-explain__list_item {
    color: #fff;
    font-size: 30px;
    font-family: 'FuturaBold';
    font-weight: 700;
    position: relative;
    line-height: 1.5;
    @for $i from 1 through 4 {
        &:nth-child(#{$i+1}) {
            margin-left: calc(40px * #{$i});
        }
    }
    .num {
        position: absolute;
        width: 40px;
        height: 40px;
        left: -55px;
        top: 1px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        span {
            margin: auto;
            line-height: 1;
            font-size: 30px;
            color: #fff;
            font-family: "Open Sans", sans-serif;
        }
        ;
    }
}

.m-explain__title {
    position: relative;
    span {
        color: #fff;
        display: block;
        &:nth-child(2) {
            margin-left: 40px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: -120px;
        left: -85px;
        width: 110px;
        height: 200px;
        background: url(../../../img/modal/modal_arrow.svg) center/contain no-repeat;
    }
}

@import 'modal_form';