.if-so-user-modal {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.64);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    direction: rtl;
    transition: opacity .5s;

    @include max(992) {
        padding-top: 25px;
        overflow: auto;
    }
    
    &.opened {
        visibility: visible;
        opacity: 1;
        z-index: 99999;
    }

    &__content {
        margin: auto;
        max-width: 1000px;
        background: #fff;
        position: relative;
        padding: 3rem 6rem 3rem 3rem;
        @include xl(max-width, 70%);
        @include max(650) {
            margin-left: 50px;
            margin-right: auto;
            max-width: 80%;
        }
        @include max(500) {
            padding: 2rem;
            margin: auto;
        }
        @include max(400) {
            max-width: 90%;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    &__button {
        color: #fff;
        border-radius: 2rem;
        font-size: 20px;
        padding: 0.8rem 2.5rem;
        cursor: pointer;
        transition: .2s;
        margin: 0 .75rem;
        margin-bottom: 1rem;
        @include max(650) {
            text-align: center;
            margin: 0 0 1rem 0;
        }
        @include max(500) {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }

    &__button--green {
        background-color: #00a651;
        &:hover {
            background-color: #038f46;
        }
    }

    &__button--blue {
        background-color: #4cb5d2;
        &:hover {
            background-color: #3595af;
        }
    }

    &__close {
        position: absolute;
        top: -18px;
        right: -18px;
        background: url(../../../img/user-modal/if-so-modal-close-icon.png) center/contain no-repeat;
        width: 36px;
        height: 36px;
        cursor: pointer;
        transition: .2s;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__man-flag {
        background: url(../../../img/user-modal/man_flag_longer.png) center/contain no-repeat;
        width: 250px;
        height: 500px;
        position: absolute;
        right: calc(-250px / 1.5);
        //top: 20px;
        bottom: -20px;
        @include max(500) {
            display: none;
        }
    }
}

.if-so-user-modal__your_text {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
    }
    ul, ol {
        padding-inline-start: 20px;
    }
}

.open_if-so-user-modal {
    opacity: 0;
    z-index: -1;
    transform: translateY(100%);
    transition: .7s linear;
    &.active {
        z-index: 99999;
        opacity: 1;        
        transform: translateY(0);
    }

    position: fixed;
    bottom: -7px;
    right: 100px;
    width: 250px;
    @include xl(right, 40px);
    @include max(800) { right: 0; }

    &__hand-flag {
        background: url(../../../img/user-modal/hand_flag.png) center/contain no-repeat;
        width: 185px;
        height: 250px;
    }

    &__info-button {
        position: absolute;
        bottom: 20px;
        right: 100px;
    }

    &__button {
        margin: 3px 0;
        padding: 3px 10px;
        font-weight: bold;
        background: #fff;
        border-radius: 30px;
        border: 2px solid $text_color;
        color: $text_color;
        position: relative;
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        white-space: nowrap;
        transition: .2s;
        &:hover {
            color: #fff;
            background: $text_color;
        }
    }
    
    &__button_close {
        position: absolute;
        bottom: 52px;
        right: 82px;
        width: 15px;
        height: 15px;
        background: url(../../../img/user-modal/close_man_hand.png) center/contain no-repeat;
        cursor: pointer;
        &:hover + .open_if-so-user-modal__buttons {
            opacity: 1;
            visibility: visible;
        }
    }

    &__buttons {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        position: absolute;
        bottom: 20px;
        right: 95px;
        padding-right: 15px;
        &:hover {
            opacity: 1;
            visibility: visible;
        }
    }

    &__close {
        width: 81px
    }

    &__never-show {
        border: 2px solid #ff0000;
        &:hover {
            background: #ff0000;
        }
    }
}