@for $i from 1 through 6 {
    .bubble#{$i} {
        background: url(../../../img/bubbles/bubble#{$i}.svg) no-repeat;
    }
}

.about__profile_bubble {
    margin: auto;    
    background: url(../../../img/your_profile.svg) center/contain no-repeat;
    width: 200px;
    height: 210px;
    position: relative;
    @include max(768) {
        width: 170px;
        height: 180px;
    }
    @include max(500) {
        width: 140px;
        height: 150px;        
    }
}

.profile_bubble__text {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin-top: auto;
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
    font-family: 'Open Sans';
    font-weight: 800;
    text-align: center;
    @include max(768) {
        bottom: 63px;
        font-size: 18px;
    }
    @include max(500) {
        bottom: 56px;
        font-size: 16px;
        padding-left: 10px;
    }
}   

.bubble {
    position: absolute;
    display: flex;
    line-height: 1.4;
    background-size: contain;
    transform: $persp;    
}

.bubble__name, .bubble__value {    
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    @include max(768) { font-size: 16px }    
}

.bubble__value {
    &.sm {
        font-size: 16px;
        @include max(768) { font-size: 14px }
        @include max(500) { font-size: 12px }
    }
}

.bubble__content {
    align-self: center;
    margin: auto;
    text-align: center;    
}

.bubble1 {
    width: 194px;
    height: 176px;    
    bottom: 3%;
    left: 9%;
    z-index: 3;
    .bubble__content {
        padding-bottom: 20px;
        @include max(768) { padding-bottom: 10px; }

    }
    .bubble__name, .bubble__value {
        color: #7159f3;        
    }
    &.aos-animate {
        animation: moving1 2500ms infinite;
        animation-delay: 1s;    
    }

    @include xl(bottom, -7%);
    @include max(768) {
        width: 164px;
        height: 146px;
    }
    @include max(500) {
        width: 140px;
        height: 126px;
        bottom: -10%;
        left: 13%;
    }
    @include max(420) { bottom: -14%; left: 10%; }
    @include max(370) { left: 8%; }
}

@keyframes moving1 {
    0% {
        transform: translateX(0) $persp;
    }
    50% {
        transform: translateX(5px) $persp;        
    }
    100% {
        transform: translateX(0) $persp;
    }
}

.bubble2 {    
    width: 221px;
    height: 193px;
    left: -6%;
    bottom: 23%;
    z-index: 2;
    .bubble__content {
        padding-bottom: 20px;
        @include max(768) { padding-right: 10px; }
    }
    .bubble__name, .bubble__value {
        color: #f68e56;
    }
    &.aos-animate {
        animation: moving1 2500ms infinite;
        animation-delay: 1s;    
    }
    @include xl(bottom, 15%);
    @include max(768) {
        width: 191px;
        height: 163px;
    }
    @include max(500) {
        width: 167px;
        height: 140px;
        left: -2%;
        bottom: 17%;
    }
    @include max(370) { left: -5%; }
}

.bubble3 {        
    width: 205px;
    height: 191px;
    top: 10%;
    left: 3%;
    z-index: 1;
    .bubble__content {
        padding-bottom: 10px;
    }
    .bubble__name, .bubble__value {
        color: #f87979;
    }
    &.aos-animate {
        animation: moving3 2500ms infinite;
        animation-delay: 1s;    
    }
    @include max(768) {
        width: 165px;
        height: 151px;
        top: 5%;
    }
    @include max(500) {
        width: 140px;
        height: 123px;
        top: 0%;
        left: 10%;
    }
    @include max(450) { top: -3%; left: 8%; }
    @include max(420) { top: -5%; left: 5%; }
    @include max(370) { top: -8%; left: 2%; }
}

@keyframes moving3 {
    0% {
        transform: translate(0, 0) $persp;
    }
    50% {
        transform: translate(5px, 5px) $persp;        
    }
    100% {
        transform: translate(0, 0) $persp;
    }
}

.bubble4 {    
    width: 192px;
    height: 193px;
    top: -20%;
    left: 26%;
    .bubble__content {
        padding-bottom: 15px;
    }
    .bubble__name, .bubble__value {
        color: #de6372;
    }
    &.aos-animate {
        animation: moving4 2500ms infinite;
        animation-delay: 1s;    
    }
    @include max(1100) { left: 23%;}
    @include max(1000) { left: 24%;}
    @include max(768) {
        width: 152px;
        height: 153px;
        top: -23%;
    }
    @include sm(left, 26%);
    @include max(500) {
        width: 127px;
        height: 127px;
        top: -28%;
        left: 31%;
    }
    @include max(450) { left: 29% }
    @include max(370) { left: 26% }
    @include max(360) { left: 29% }
}

@keyframes moving4 {
    0% {
        transform: translateY(0) $persp;
    }
    50% {
        transform: translateY(5px) $persp;        
    }
    100% {
        transform: translateY(0) $persp;
    }
}

.bubble5 {
    width: 228px;
    height: 160px;
    top: 0%;
    right: 15%;
    .bubble__content {
        padding-bottom: 7px;
    }
    .bubble__name, .bubble__value {
        color: #7cc576;
    }
    &.aos-animate {
        animation: moving5 2500ms infinite;
        animation-delay: 1s;    
    }
    @include max(1100) { left: 44%; }
    @include max(1030) { left: 46%; }
    @include max(1000) { left: 45%; }
    @include max(890) { left: 47%; }
    @include max(768) {
        width: 188px;
        height: 130px;        
    }
    @include sm(left, 51%);
    @include max(500) {
        width: 160px;
        height: 111px;
        left: 52%;
        top: -4%;
    }
    @include max(360) { left: 55% }
}

@keyframes moving5 {
    0% {
        transform: translate(0, 0) $persp;
    }
    50% {
        transform: translate(5px, -5px) $persp;        
    }
    100% {
        transform: translate(0) $persp;
    }
}

.bubble6 {            
    width: 232px;
    height: 151px;
    right: 5%;
    top: 26%;
    z-index: 100;
    .bubble__name, .bubble__value {
        color: #00bff3;
    }
    &.aos-animate {
        animation: moving6 2500ms infinite;
        animation-delay: 1s;    
    }
    @include xl(right, 8%);
    @include max(1100) {left: 49%;}
    @include max(1060) {left: 51%;}
    @include max(1000) {left: 49%;}
    @include lg(left, 51%);
    @include max(890) { left: 53%; }
    @include max(768) {
        width: 192px;
        height: 121px;
        top: 28%;
    }
    @include sm(left, 57%);
    @include max(500) {
        width: 169px;
        height: 106px;
        top: 30%;
    }
    @include max(370) { left: 59% }
    @include max(360) { left: 62% }
}

@keyframes moving6 {
    0% {
        transform: translateX(0) $persp;
    }
    50% {
        transform: translateX(-5px) $persp;        
    }
    100% {
        transform: translateX(0) $persp;
    }
}