@for $i from 1 through 6 {
    .bubble#{$i} {
        background: url(../../../img/bubbles/bubble#{$i}.svg) no-repeat;
    }
}

.about__profile_bubble {
    margin: auto;    
    background: url(../../../img/your_profile.svg) center/contain no-repeat;
    width: 200px;
    height: 210px;
    position: relative;
}

.profile_bubble__text {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin-top: auto;
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
    font-family: 'Open Sans';
    font-weight: 800;
    text-align: center;    
}   

.bubble {
    position: absolute;
    display: flex;
    line-height: 1.4;
    background-size: contain;
    transform: $persp;    
}

.bubble__name, .bubble__value {    
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.bubble__content {
    align-self: center;
    margin: auto;
    text-align: center;    
}

.bubble1 {
    width: 194px;
    height: 176px;    
    bottom: 3%;
    left: 9%;
    z-index: 3;
    .bubble__content {
        padding-bottom: 20px;
    }
    .bubble__name, .bubble__value {
        color: #7159f3;        
    }
    &.aos-animate {
        animation: moving1 2500ms infinite;
        animation-delay: 1s;    
    }
}

@keyframes moving1 {
    0% {
        transform: translateX(0) $persp;
    }
    50% {
        transform: translateX(5px) $persp;        
    }
    100% {
        transform: translateX(0) $persp;
    }
}

.bubble2 {    
    width: 221px;
    height: 193px;
    left: -6%;
    bottom: 23%;
    z-index: 2;
    .bubble__content {
        padding-bottom: 20px;
    }
    .bubble__name, .bubble__value {
        color: #f68e56;
    }
    &.aos-animate {
        animation: moving1 2500ms infinite;
        animation-delay: 1s;    
    }
}

.bubble3 {        
    width: 205px;
    height: 191px;
    top: 10%;
    left: 3%;
    z-index: 1;
    .bubble__content {
        padding-bottom: 10px;
    }
    .bubble__name, .bubble__value {
        color: #f87979;
    }
    &.aos-animate {
        animation: moving3 2500ms infinite;
        animation-delay: 1s;    
    }
}

@keyframes moving3 {
    0% {
        transform: translate(0, 0) $persp;
    }
    50% {
        transform: translate(5px, 5px) $persp;        
    }
    100% {
        transform: translate(0, 0) $persp;
    }
}

.bubble4 {    
    width: 192px;
    height: 193px;
    top: -20%;
    left: 26%;
    .bubble__content {
        padding-bottom: 15px;
    }
    .bubble__name, .bubble__value {
        color: #de6372;
    }
    &.aos-animate {
        animation: moving4 2500ms infinite;
        animation-delay: 1s;    
    }
}

@keyframes moving4 {
    0% {
        transform: translateY(0) $persp;
    }
    50% {
        transform: translateY(5px) $persp;        
    }
    100% {
        transform: translateY(0) $persp;
    }
}

.bubble5 {
    width: 228px;
    height: 160px;
    top: 0%;
    right: 15%;
    .bubble__content {
        padding-bottom: 7px;
    }
    .bubble__name, .bubble__value {
        color: #7cc576;
    }
    &.aos-animate {
        animation: moving5 2500ms infinite;
        animation-delay: 1s;    
    }
}

@keyframes moving5 {
    0% {
        transform: translate(0, 0) $persp;
    }
    50% {
        transform: translate(5px, -5px) $persp;        
    }
    100% {
        transform: translate(0) $persp;
    }
}

.bubble6 {            
    width: 232px;
    height: 151px;
    right: 5%;
    top: 26%;
    z-index: 100;
    .bubble__name, .bubble__value {
        color: #00bff3;
    }
    &.aos-animate {
        animation: moving6 2500ms infinite;
        animation-delay: 1s;    
    }
}

@keyframes moving6 {
    0% {
        transform: translateX(0) $persp;
    }
    50% {
        transform: translateX(-5px) $persp;        
    }
    100% {
        transform: translateX(0) $persp;
    }
}