.about {
    margin-top: 120px;
}

.about__wrapper {
    @include row-flex();
}

.about__view {
    @include col();
    @include size(6);    
    perspective: 1000px;
    position: relative;
    &:after {
        content: '';
        width: 300px;
        height: 308px;
        background: url(../../../img/man-if-so.png) center / contain no-repeat;
        display: block;
        position: absolute;
        bottom: -18%;
        right: -10%;
    }
    &:before {
        content: '';
        width: 165px;
        height: 400px;
        background: url(../../../img/about_arrows.png) center/contain no-repeat;
        display: block;
        position: absolute;        
        left: -145px;
        top: -38%;
    }
}

.view__per {
    background: url(../../../img/about.png) no-repeat;
    background-size: contain;
    min-height: 417px;
    max-width: 620px;
    transform: $persp;    
    box-shadow: 1px 26px 73px #ccc;
    border: 2px solid #eaeaea;
    border-radius: 39px;
}

@import './bubbles';

.about__content {
    padding-top: 100px;
    @include col();
    @include size(6);
    padding-left: 50px;    
}

.about__introtext {
    margin: 10px 0;
    span {
        display: block;
        font-size: 26px;
        color: $text_color;
        font-family: 'FuturaBold';
        word-spacing: -5px;
        &:nth-child(1) {
            margin-left: 20px;
        }
        &:nth-child(2) {
            margin-left: 40px;
        }
    }
}

.about__description {
    font-family: "Open Sans";
    font-size: 20px;
    color: $text_color;
    line-height: 1.4;
    font-weight: 400;    
    & > span {
        display: block;
        &:nth-child(1) {
            margin-left: 60px;
        }
        &:nth-child(2) {
            margin-left: 80px;
        }
        &:nth-child(3) {
            margin-left: 85px;
        }
        &:nth-child(4) {
            margin-left: 80px;
        }
        &:nth-child(5) {
            margin-left: 70px;
        }
    }
}

.about__button {
    margin-top: 50px;
    text-align: center;
}

.try_it--watch {
    border-color: $blue;
    border: none;
    background-color: $blue;
    transition: .3s;
    &:active {
        background: $blue_hover;
        border-color: $blue_hover;
    }
    padding: 18px 40px 18px 20px;
    &:hover .try_it__arrow {
        animation-name: moveLeft;
    }
    .try_it__text {
        color: #fff;
        font-size: 24px;
    }
    .try_it__arrow-container {
        margin-right: 20px;
    }
}