.geo-nav .navigation {
  &, > ul >li >a, .menu__icon {
    color: #fff;
  }
  
  .white-logo {
    display: block;
  }

  .default-logo {
    display: none;
  }
}

.white-logo {
  display: none;
}

.geo-header {
  transform: $header_skew;
  position: relative;

  &__bg {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(../img/geo/header_bg.png) center/cover no-repeat;
  }

  &__wrapper {
    @extend %header_unskew;
    background: url(../img/geo/dots_map.png) no-repeat;
    background-size: 70%;
    background-position: 50% 60%;
  }
}

.header--geo {
  &, * {
    color: #fff;
  }

  min-height: 750px !important;
  background: transparent;

  .header__content {
    max-width: 740px;
    @include xl-block {
      padding-bottom: 3%;
    }
    @include max(700) { max-width: 500px; }
    @include max(500) { max-width: 90%; }
  }
  .header__container {
    @include max(1400) {
      padding-right: 35%;
    }
    @include max(1100) {
      padding-right: 0;
    }
  }
}

.header__earth {
  @extend %header_unskew;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 900px;
  height: 800px;
  background: url(../img/geo/earth.png) no-repeat;
  background-size: contain;
}

.header__astronaut {
  background: url(../img/geo/astronaut-flag.png) no-repeat;
  width: 446px;
  height: 357px;
  position: absolute;
  left: -60px;
  top: 20%;
}