.join_now {
    background: #43d094;
}

.header {
	&.header--aff {
		min-height: 530px;
		@include max(1300) { min-height: 474px; }
		@include max(1200) { min-height: 460px; }
		@include max(840) { min-height: 434px; }
		@include max(800) { min-height: 580px; }
		@include max(720) { min-height: 610px; }
		@include max(500) { min-height: 550px; }
		@include max(400) { min-height: 500px; }
	}
}

.header--aff__object {	
	@include min(1900) { top: -190px; }
	@include max(1900) { top: -190px; }
	@include max(1600) { top: -178px; width: 1100px; }
	@include max(1300) { width: 900px; top: -175px; }
	@include max(1200) { width: 870px; top: -180px; }
	@include max(1000) { width: 870px; top: -180px; }
	@include max(840) { width: 800px; top: -185px; }
	@include max(800) { width: 1085px; top: -123px; left: 20%; }
	@include max(720) { width: 1200px; height: 779px; top: -124px; left: 10%; }
	@include max(700) { top: -124px; left: 10%; }
	@include max(600) { left: 0; }
	@include max(500) { left: -20%; top: -184px; }
	@include max(430) { width: 1100px; }
	@include max(400) { top: -214px; }
}

.header--aff__container {
	@include max(1500) { padding-right: 44% !important; }	
	@include max(900) { padding-right: 40% !important; }
	@include max(840) { height: 430px; }
	@include max(800) { padding-right: 0 !important; }


	.header__title {
		@include max(900) { font-size: 44px; }
		@include max(500) { font-size: 40px; }
		@include max(430) { font-size: 36px; }
	}
	.header__description {
		@include max(900) { font-size: 20px; }
		@include max(500) { font-size: 18px; }
		@include max(430) { font-size: 16px; }
	}
	.header__content {
		@include max(800) { padding-bottom: 7%; }
		@include max(600) { padding-bottom: 20%; max-width: 75%; }
		@include max(500) { max-width: 80%; }
	}

	.try_it__text {
		@include max(400) { font-size: 18px; }
	}
}

.aff_bg_wrapper {
	position: absolute;
	width: 880px;
    height: 700px;
    top: -10%;
	right: 10px;
	transform: skew(0, -4deg); 
	
	@include max(1750) { width: 780px; height: 620px; top: 0; }
	@include max(1600) { width: 680px; height: 550px; top: 13%; }
	@include max(1300) { width: 590px; height: 500px; }
	@include max(1200) { width: 530px; }
	@include max(1050) { width: 460px; top: 18%; }
	@include max(800) { top: 37% }
	@include max(500) { width: 380px; height: 310px; top: 53% }
	@include max(400) { width: 310px; }
}

.aff_bg {
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../../../../img/aff/aff-bg.png) center/contain no-repeat;

	&__text {
		font-family: 'MV Boli';
		font-size: 2.5em;
		transform: rotate(-31deg) skew(0, 4deg);
		display: block;
		font-weight: bold;
		position: absolute;
		top: 10%;	
		left: 0;

		@include max(1600) { top: 8% }
		@include max(1200) { top: 6% }
		@include max(1050) { font-size: 1.7em; top:16% }
		@include max(500) { font-size: 1.4em; top: 6% }
	}
	&:after {
		content: '';
		position: absolute;
		left: 14%;
		top: 17%;
		width: 30px;			
		height: 30px;
		background: url(../../../../img/aff/arrow-man.png) center/contain no-repeat;

		@include max(1050) { left: 13%; top: 24%; }
		@include max(500) { width: 20px; height: 20px; left: 13%; top: 17%; }
	}
}

.aff_bg__logo {
	position: absolute;	
	z-index: 10;
	top: 29%;
    right: 67%;
    transform: rotate(-15deg);
	height: 100%;
	width: 100%;
    max-width: 72px;
	max-height: 70px;
	@include max(1600) { right: 66% }
	@include max(1300) { max-width: 60px; }	
	@include max(1200) { top: 30% }
	@include max(1050) { max-width: 50px; top: 32% }	
	@include max(500) { max-width: 42px; right: calc(65% + 2px); top: 24% }
	@include max(400) { max-width: 32px; right: calc(66% + -1px); top: 26%; }
}

.aff_bg__ifso {
	position: absolute;
	top: 28%;
	right: 41%;
	// background: url(../../../../img/aff/if-so-transform.png) center/contain no-repeat;
	width: 58px;
	height: 28px;
	transform: rotate(10deg);
	.current-color {
		fill: #1e0546 !important;
	}
	.arrow-if-so {
		fill: #fd5b56;
	}

	@include max(1600) { width: 48px; }
	@include max(1300) { width: 40px; }
	@include max(1200) { right: calc(40% + 3px); top: 30% }
	@include max(1050) { top: 32%; width: 33px; right: calc(40% + 2px); }
	@include max(500) { top: 26%; width: 26px; }
	@include max(400) {
		right: calc(40% + 1px);
		top: 30%;
		width: 23px;
	}
}

#colored_shirt {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}