.visitors {
    margin-top: 150px;
}

.visitors__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.visitors__illustration {
    width: 800px;
    height: 650px;
    background: url(../../../img/visitors.png) center/contain no-repeat;
    margin-left: -8%;
}

.visitors__content {
    margin-left: 40px;
}

.visitors__title {
    span {
        font-family: 'FuturaBold';
        word-spacing: -6px;
        display: block;
        &:nth-child(2) {
            margin-left: 80px;
        }
    }
}

.visitors__introtext {
    margin-top: 10px;
    span {
        font-family: 'FuturaBold';
        font-size: 26px;
        display: block;
        &:nth-child(1) {
            margin-left: 40px;
        }
    }
}

.visitors__bubble1 {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 320px;
    bottom: 20%;
    background: url(../../../img/visitors_bubble1.png) center/contain no-repeat;
}

.visitors__bubble2 {
    width: 265px;
    height: 250px;
    background: url(../../../img/visitors_bubble2.png) center/contain no-repeat;
    position: absolute;
    bottom: -5%;
    right: 40px;
}