.navigation {
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 11;
    @include max(1500) {    
        padding: 30px 50px;
    }
    @include max(1200) {
        padding: 30px 40px;
    }
    @include max(840) {
        padding: 30px 20px;
    }
    .try_it {
        @include max(1100) {
            display: none;
        }
    }
    &.fff {
        background: #fff;
    }
}

.menu {
    list-style: none;
}

.navigation__menu {    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 48px;
    @include max(900) {
        padding-left: 20px;
    }
    @include max(840) {
        display: none;
    }
}

.menu__item {
    margin: 0 60px;
    padding: 5px 18px;
    transition: .3s;
    position: relative;
    &.active {        
        background: $active_color;
        border-radius: 20px;
        a {
            color: #fff;
        }
    }
    &:hover {
        .menu__dropdown, .sub-menu {
            opacity: 1;
            z-index: 9999;
            visibility: visible;
        }
    }
    @include max(1800) {
        margin: 0 56px;
    }
    @include max(1650) {    
        margin: 0 52px;
    }
    @include max(1550) {
        margin: 0 45px;
    }
    @include max(1420) {
        margin: 0 35px;
    }
    @include max(1320) {
        margin: 0 25px;
    }
    @include max(1210) {
        margin: 0 15px;
    }
}

.menu__icon {
    position: absolute;
    top: 0px;
    left: -28px;
    transition: .2s;
    opacity: 0;
    &.active {
        opacity: 1;
    }
}

.menu__dropdown, .sub-menu {
    display: flex;
    list-style: none;
    position: absolute;    
    right: -365px;
    top: calc(100% - 10px);
    padding: 30px 0;
    opacity: 0;
    z-index: -1;
    transition: .3s;
    cursor: default;
    visibility: hidden;
    @include max(1630) { right: -225px; }
    @include max(1200) { right: -235px; }
    @include max(1100) { right: -77px; }
    @include max(999) {
        flex-wrap: wrap;
        width: 600px;
        right: -112px;
        top: calc(100% - 20px);
    }
    
    @include max(840) {
        display: none;
    }
    li {
        width: 260px;
        margin: 0 10px;
        border: 2px solid rgba(240, 91, 109, 0.502);
        padding: 22px 24px;
        box-shadow: 4px 7px 56px 1px rgba(0, 0, 0, 0.4);
        border-radius: 36px;
        background: #fff;
        display: flex;
        transition: .2s;
        &:hover {
            transform: scale(1.05);
            @include max(999) {
                transform: scale(1.02);
            }
        }
        &:nth-child(3) {
            border: 2px solid rgba(245, 141, 86, 0.52);
        }
        &:nth-child(4) {
            border: 2px solid rgba(189, 140, 191, 0.52);
        }
        @include max(1200) {
            margin: 0 7px;
        }
        @include max(1100) {
            width: 230px;
            padding: 20px 18px;
        }
        @include max(999) {
            margin: 5px;
        }
    }

    .menu__item.active {
        background: #fff;
        @include max(840) {
            background: #1e0547;
        }
    }
}

.sub-menu--mobile {
    @include min(841) {
        display: none;
    }
    @include max(840) {
        display: block;
    }
    &.active {
        max-height: 200px;
    }
    position: static;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    width: auto !important;    
    padding: 0;
    margin-top: 5px;
    li {
        width: auto !important;
        border: none !important;
        margin: 10px 0 !important;
        box-shadow: none;
        padding: 0 !important;
    }
    .menu__link {
        font-size: 16px;
    }
}

.navigation__menu_wrapper .menu__item {
    flex-direction: column;
    align-items: center;
}

.dropdown__block {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dropdown__title {
    font-size: 18px;
    text-transform: none;
    margin-bottom: 10px;
    font-family: 'FuturaBold';
    color: #1e0547;    
}

.dropdown__description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 10px;
}

.dropdown__more {
    margin-top: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    color: #bd51b7;
}

.menu__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.35;
    //font-family: 'FuturaBold';
    color: $text_color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        width: 0;
        height: 2px;
        background: $active_color;
        transition: width .3s;
    }
    &:hover:after {        
        width: 100%;        
    }
}

.try_it {    
    background: #fff;
    border: 2px solid $text_color;
    border-radius: 40px;
    padding: 10px 15px 10px 35px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none; 
    display: inline-flex;
    justify-content: center;
    align-items: center;   
    &:hover .try_it__arrow {
        animation: move .7s ease;
    }    
}

.try_it__text {    
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;    
}

.try_it__arrow-container {
    height: 100%;
    overflow: hidden;
    margin-left: 15px;
    height: 18px;
}

.try_it__arrow {
    display: block;
    transition: .3s;
}


.navigation__menu_wrapper {
    position: absolute;
    height: 100vh;
    min-width: 300px;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff; 
    transform: translate(110%);
    transition: .4s;
    padding: 80px 30px 30px;
    box-shadow: -8px 0 24px #eaeaea;
    &.active {
        transform: translate(0)
    }
    .menu__item {
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }
}

.navigation__toggle_menu {
    display: none;
    margin-left: auto;
    position: relative;
    z-index: 99999;
    cursor: pointer;
    @include max(840) {
        display: block;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 4px;
        background-color: $active_color;
        margin: 6px 0;        
        transition: .4s;
        border-radius: 4px;
    }
    .bar1 {
        width: 30px;
    }
    .bar2 {
        width: 25px;
    }
    &.active {
        .bar1 {    
            transform: rotate(-45deg) translate(-7px, 6px);
            width: 35px;    
        }
        .bar2 {
            opacity: 0;    
        }
        .bar3 {    
            transform: rotate(45deg) translate(-8px, -8px);    
        }
    }
}