.features {
    margin-top: 90px;
    padding: 50px 0;
}

.features__title {
    text-align: center
}

.features__table_wrapper {    
    width: 100%;        
    @include max(800) {
        padding-bottom: 120px;
        overflow-y: hidden;
        overflow-x: auto;
    }
}

.features__table {
    margin-top: 130px;
    width: 100%;
    border-spacing: 3px 0;
    th {
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        color: $text-color;
        font-size: 24px;
        @include lg(font-size, 22px);
        &:nth-child(1) {
            font-size: 18px;
            text-align: left;
            padding-bottom: 20px;
            vertical-align: bottom;
        }
        &:nth-child(2) {
            color: #732bcb;            
            position: relative;
            padding-bottom: 30px;
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                right: 0;
                bottom: 0;
                left: 0;
                height: 150px;
                width: 100%;
                background-color: #f1e6fe;
                border-radius: 50px 0 0 0;
            }
        }
        &:nth-child(3) {
            color: #4069c5;
            position: relative;
            padding-bottom: 10px;
            &:before {
                content: '';
                position: absolute;                
                z-index: -1;
                right: 0;
                bottom: 0;
                left: 0;
                height: 120px;
                width: 100%;
                background-color: #e1e8fe;
                border-radius: 0 50px 0 0;
            }            
        }
    }
    tfoot th {
        &:nth-child(2) {
            position: relative;
            padding-top: 30px;
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;                
                left: 0;
                height: 150px;
                width: 100%;
                background-color: #f1e6fe;
                border-radius: 0 0 50px 0;
            }
        }
        &:nth-child(3) {
            color: #4069c5;
            position: relative;
            padding-bottom: 10px;
            &:before {
                content: '';
                position: absolute;                
                z-index: -1;
                right: 0;
                top: 0;
                left: 0;
                height: 120px;
                width: 100%;
                background-color: #e1e8fe;
                border-radius: 0 0 0 50px;
            }            
        }
    }
    td {
        width: 33%;
        border-bottom: 1px solid rgba(137, 117, 248, 0.35);
        padding: 15px 0;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        min-width: 240px;
        &:nth-child(2), &:nth-child(3) {
            font-family: "Times New Roman", sans-serif;
            text-align: center;
            font-style: oblique;
            font-size: 16px;
            color: $text-color;
            background-color: #f1e6fe;
            padding-left: 6px;
        }
        &:nth-child(3) {
            background-color: #e1e8fe;
        }
    }
}

.pink {
    color: #ec008c;
    font-family: "Times New Roman", sans-serif;
    font-style: oblique;
    text-align: center;
    font-size: 16px;
}

.th2_hr {
    height: 12px;
    width: 100%;
    margin-top: 25px;
    background: url(../../../../img/svg/th2_hr.svg) center/contain no-repeat;
}

.th3_hr {
    height: 12px;
    width: 100%;
    margin-top: 25px;
    background: url(../../../../img/svg/th3_hr.svg) center/contain no-repeat;
}

.features__check_mark1, .features__check_mark2 {
    display: block;
    width: 27px;
    height: 20px;
    margin: 0 auto
}

.features__check_mark1 {
    background: url(../../../../img/svg/check_mark.svg) center/contain no-repeat;
}

.features__check_mark2 {    
    background: url(../../../../img/svg/check_mark2.svg) center/contain no-repeat;
}

.feature__choose_plan {
    border: 6px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    background: $active-color;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: .3s;
    text-decoration: none;
    font-family: 'FuturaBold', 'Futura', sans-serif;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: fit-content;
    right: 0;    
    margin: 0 auto;    
    z-index: 100;
    @include max(850) {
        padding: 8px 12px;
        font-size: 16px;
    }
}

.feature__choose_plan--purple {
    background: #8e61d8;
    &:hover {
        background: #7c50c2;        
    }
    bottom: -116px;
}

.feature__choose_plan--dark-purple {
    background: #7d7ce0;
    bottom: -87px;
    left: 20px;
    &:hover {
        background: #6867ca;        
    }
}