.title.title--small {
    font-size: 26px;  
    margin-bottom: 10px;
    word-spacing: -4px;
    @include max(400) { font-size: 24px; }
    @include max(370) { font-size: 22px !important; }
}

.header--google {
    .header__description {
        font-size: 20px;
        @include max(350) {
            font-size: 18px;
        }
    }
    .header__content {
        max-width: 460px;
        padding-bottom: 40px;
    }
    .header__container {
        padding-right: 37%;
        @include max(1100) {
            padding-right: 35%;
        }
        @include max(800) {
            padding-right: 15%;
        }
        @include max(700) {
            padding-right: 0;
        }
        @include max(400) {
            height: 400px;
        }
    }
    .header__object {
        @include max(1100) {
            width: 1150px !important;
        }
        @include max(992) {
            width: 1280px !important;
        }
        @include max(650) {
            width: 1110px !important;
            top: -112px !important;
            right: -56% !important;
        }
        @include max(540) {
            width: 981px !important;
            top: -116px !important;
            right: -66% !important;
        }        
    }
    .perspective_wrapper {
        @include max(780) { left: 23%;}
        @include max(700) { left: 26%;}
        @include max(670) { left: 34% }
        @include max(650) { left: 13%; }
        @include max(600) { left: 2%; }
        @include max(570) { left: 5%; }
        @include max(530) { left: 12%; }
        @include max(490) { left: 15%; }
        @include max(470) { left: 18%; }
        @include max(450) { left: 20%; }
        @include max(430) { left: 3%; }
        @include max(410) { left: 6%; }
        @include max(400) { left: 9%; }
        @include max(380) { left: 14%; }
        @include max(370) { left: 22%; }
        @include max(350) { left: 27%; }
        @include max(330) { left: 29%; }
        @include max(325) { left: 30%; }
    }
    @include max(1100) { min-height: 602px !important; }
    @include max(992) { min-height: 685px !important; }
    @include max(650) { min-height: 585px !important; }
    @include sm(margin-bottom, 210px);
    @include max(540) { min-height: 500px !important; }
    @include max(430) { min-height: 450px !important; }
    @include max(400) { min-height: 417px !important; }
}

.header--google.header--new {
    .header__object {
        @include max(400) {
            width: 850px !important;
            top: -117px !important;
            right: -98% !important;
        }
    }
}

.header__perspective {
    .layer {
        transform: rotateX(0deg) rotateZ(7deg) rotateY(-12deg);
        background: url(../../../img/google-hero/bg.png) no-repeat;
        background-size: contain;
        min-height: 485px;
        border-radius: 40px;
        width: 705px;
        box-shadow: 1px 26px 73px #acacac, inset 0px 2px 7px #ccc;
        margin: auto;
        position: absolute;
        z-index: 1;
        bottom: -14px;
        left: 0;
        right: 150px;
        @include max(1500) {min-height: 410px; width: 595px; height: 120px; }
        @include max(1200) { min-height: 380px; width: 550px; right: 70px; }
        @include max(1100) { 
            transform: rotateX(0deg) rotateZ(4deg) rotateY(-11deg);
            right: 31%;  
            bottom: 60px;
        }
        @include max(992) {
            right: 22%;
        }
        @include max(940) { right: 16%; }
        @include max(850) { right: 25%; }
        @include max(700) { bottom: 10px; }
        @include max(670) { right: 40%; }
        @include max(650) { min-height: 320px; width: 464px; border-radius: 18px; }
        @include max(540) { min-height: 270px; width: 394px; }
        @include max(450) { min-height: 238px; width: 345px; }
        @include max(430) { right: 50%; }
        @include max(390) { min-height: 200px; width: 290px; bottom: 45px; }
        @include max(370) { right: 100%; }
        &__search {
            background: url(../../../img/google-hero/search_input.png) no-repeat;
            background-size: contain;
            width: 373px;
            height: 76px;
            position: absolute;
            z-index: 4;
            bottom: 36%;
            left: -23%;
            padding-top: 22px;
            padding-left: 90px;
            padding-right: 20px;
            font-size: 24px;
            user-select: none;
            color: #5c5c5c;
            box-shadow: 0 5px 8px 0px #9c9c9c;
            border-radius: 50px;
            @include max(1500) { bottom: 30%; }
            @include max(1200) { width: 343px; height: 70px; }
            @include max(650) {
                width: 280px;
                height: 57px;
                padding-top: 18px;
                padding-left: 70px;
                font-size: 20px;
                left: -18%;
            }
            @include max(540) {
                width: 245px;
                height: 50px;
                bottom: 28%;
                padding-top: 14px;
                padding-left: 61px;
                font-size: 18px;
            }
            @include max(450) {
                width: 220px;
                height: 45px;
                padding-top: 15px;
                padding-left: 55px;
                font-size: 16px;
            }
            @include max(390) {
                width: 205px;
                height: 42px;
                bottom: 23%;
                padding-top: 12px;
                padding-left: 51px;                
                left: -50px;
            }
        }
        &__shoes_bg {
            background: url(../../../img/google-hero/shoes_bg.png) center/cover no-repeat;
            width: 80%;
            margin: auto;
            height: 150px;
            position: absolute;
            left: 0;
            right: 0;
            top: 105px;
            z-index: 2;
            display: flex;
            @include max(1500) { height: 130px; }
            @include max(1200) { height: 110px; }
            @include max(650) { top: 75px; }
            @include max(540) { top: 65px; height: 90px; }
            @include max(450) { top: 60px; height: 80px; }
            @include max(390) { top: 47px; height: 70px; }
        }
        &__image {
            margin: auto;
            display: none;
        }
        &__image--1 {
            background: url(../../../img/google-hero/running.png) center/contain no-repeat;
            width: 160px;
            height: 120px;
            @include max(1500) { width: 100px; height: 100px; }
            @include max(540) { width: 80px; height: 80px; }
            @include max(450) { width: 70px; height: 50px; }
        }
        &__image--2 {
            background: url(../../../img/google-hero/women.png) center/contain no-repeat;
            width: 100px;
            height: 110px;
            @include max(1500) { width: 90px; height: 80px; }
            @include max(540) { width: 70px; height: 60px; }
            @include max(450) { width: 60px; height: 50px; }
        }
        &__image--3 {
            background: url(../../../img/google-hero/elegant.png) center/contain no-repeat;
            width: 150px;
            height: 80px;
            @include max(1500) { width: 110px; height: 70px; }
            @include max(540) { width: 90px; height: 60px; }
            @include max(450) { width: 70px; height: 50px; }
        }        
    }
}

@keyframes type {
    0% {
        width: 0;
    }
}

.layer__search_text {
    font-family: Arial, sans-serif;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: none;
    &.animate {
        display: block;
        animation: type 2s steps(50, end) forwards;
    }    
}

.layer__image {
    &.block {
        display: block;
    }
}