.sale_line {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background-color: #f05b6d;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 100;
    strong {
        color: #fff;
        font-size: 22px;
        @include max(840) { font-size: 18px; }
        @include max(600) { display: block; }
        @include max(400) { font-size: 16px; }
    }
    @include max(840) { font-size: 18px; }
    @include max(400) { font-size: 16px; }
}