.slider_articles {
    margin: 0 calc(-2.5rem - 1.125rem);
}

.related_article {
    padding: 0 1.125rem;
}

.related_article__title {
    background: #f4f7fa;
    padding: 1rem 1.2rem;    
    a {
        font-size: 1.125em;
        color: #1e0547;
        
    }
}

.related_article__img {
    img {
        width: 100%;
    }
}