h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

* {
    box-sizing: border-box;
    font-family: 'Futura';
    color: $text_color;
}

body {
    /* overflow-x: hidden; */
}

.wrapper {
    overflow-x: hidden;    
}

.title {
    color: $text_color;
    font-size: 60px;
    font-family: 'FuturaBold';
    font-weight: 700;
    line-height: 1;
}

.if-so {    
    color: #fd5b56;    
    &-text {
        font-family: 'FuturaBold';        
    }
    &.lg {
        font-size: 40px;
        margin: 0 -7px;
    }
    &.xs {
        margin: 0 -3px;
        font-size: 16px;        
    }
}

@keyframes move {
    0% {
        transform: translate(0)
    }
    25% {
        transform: translate(50%);
        opacity: .5;
    }
    50% {
        transform: translate(110%);
        opacity: 0;
    }
    51% {
        transform: translate(-110%);        
    }
    60% {
        transform: translate(-50%);
        opacity: .5;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translate(0)
    }
    25% {
        transform: translate(-50%);
        opacity: .5;
    }
    50% {
        transform: translate(-110%);
        opacity: 0;
    }
    51% {
        transform: translate(110%);        
    }
    60% {
        transform: translate(50%);
        opacity: .5;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}